@model IEnumerable<UmbracoTest.ViewModels.Subscription>

<div id="subscriptionsParent" class="container text-center">
    <div class="row">
        @foreach (var subscription in Model)
        {
            <div class="col-4">
                <button class="btn btn-primary w-100 p-4" type="button" data-toggle="collapse" data-target="#@subscription.Name" aria-expanded="false" aria-controls="@subscription.Name">
                    @subscription.Name
                </button>

                <div class="collapse" id="@subscription.Name" data-parent="#subscriptionsParent">
                    <div class="card card-body border-primary pt-5 bp-5">

                        <div class="pt-5 pb-5 pr-2 pl-2">
                            @subscription.Description
                        </div>

                        <div class="pt-5 pb-3">
                            Price: @subscription.Price
                        </div>

                        <a class="btn btn-primary w-100" href="@Url.Action("SelectSubscription", "Subscriptions", new { id = subscription.Id })">
                            Subscribe
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>